<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="VARCHAR" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<!-- Alias 설정 -->
	<typeAliases>
		<!-- 이 패키지를 사용하게되면 서로다른 패키지여도 같은 이름이면 충돌이 나게되기 때문에 클래스 이름은 유니크해야한다. -->
		<package name="com.yedam.app" />
	</typeAliases>
	<typeHandlers>
		<!-- java.sql.Timestamp 를 java.util.Date 형으로 반환 -->
		<typeHandler javaType="java.sql.Date"
			handler="org.apache.ibatis.type.DateTypeHandler" />
	</typeHandlers>

</configuration>